@font-face {
  font-family: GeneralSans-Medium;
  src: url('./fonts/GeneralSans-Medium.otf');
}

@font-face {
  font-family: GeneralSans-Regular;
  src: url('./fonts/GeneralSans-Regular.otf');
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: GeneralSans-Regular;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}::-webkit-scrollbar {
  display: none;
}
body{
  background-color: black;
}

@media only screen and (max-width: 576px) {}

@media only screen and (min-width : 576px) {}

@media only screen and (min-width : 768px) {}

@media only screen and (min-width : 992px) {}

@media only screen and (min-width : 1200px) {}

@media only screen and (min-width : 1400px) {}